@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.section-header {
    display: none;
}

.header,
.menu,
.menu ul,
.topbar-icon {
    display: flex;
    flex-wrap: wrap;
}

.header {
    margin: 1.5vw 5vw;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
}

.search-container {
    display: flex;
}

.search {
    width: 28vw;
    min-width: 170px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #BFBFBF;
    border-right: none;
}

.search::placeholder {
    padding-left: 20px;
    color: #BFBFBF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.search-btn {
    color: white;
    font-size: 15px;
    padding: 7px 10px 10px 10px;
    height: 35px;
    width: 110px;
    background: linear-gradient(90deg, #0BCF7D 0%, #07B3C8 100%);
    border: none;
    border-radius: 0 5px 5px 0;
    overflow-y: hidden;
    cursor: pointer;
}

.fa.fa-search {
    color: white;
    font-size: 15px;
}

.topbar-icon>div {
    margin-left: 25px;
}

.topbar-icon img {
    width: 22px;
}

.cart-icon {
    display: flex;
    position: relative;
}

.number {
    position: absolute;
    left: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    background-color: #08B4C8;
}

/**/
.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: center;
    padding: 10px 0;
    background: linear-gradient(90deg, #0BCF7D 0%, #07B3C8 100.01%);
    transform: rotate(180deg);
}

.menu ul {
    transform: rotate(180deg);
}

.menu ul li {
    margin-left: 20px;
}

.menu ul a {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0px #04A9B0;
}

.menu ul a:hover {
    color: rgb(218, 218, 218);
}
/**/
.banner {
    position: relative;
}
.banner img {
    width: 100%;
}
.banner-text-container {
    bottom: 5vw;
    left: 12vw;
    position: absolute;
    color: white;
}
.banner-text-container p {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}
.banner-text-container h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.banner-text-container button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
}
/**/
.section-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;  
}
.divider {
    width: 40px;
    height: 5px;
    background-color: #09B8BB;
    margin-bottom: 20px;
}
.section-item {
    font-size: 30px;
    margin-bottom: 20px;
}
.category-image-container {
    display: flex;
    justify-content: center;
}
.category-image {
    width: 18vw;
    margin-left: 10px;
    border-radius: 100%;
    overflow: hidden;
}
.category-image img {
    width: 18vw;
    transform: scale(1) ;
    transition: 0.3s ease-in-out;
}
.category-image img:hover {
    transform: scale(1.2) ;
    transition: 0.3s ease-in-out;
}